################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppsJSSoftware/.vs/AppsJSSoftware
/AppsJSSoftware/bin
/AppsJSSoftware/obj/Debug
/AppsJSSoftware/packages
/AppsJSSoftware/Properties
/AppsJSSoftware/Scripts/Apps/_AppsIgnore
